#features {
    padding-bottom: 50px;
}

#features .item {
    padding-bottom: 50px;
}

#features h2 {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 50px;
  font-family: tellural;
}

#features .center {
    text-align: center;
    margin: 100px 0;
}

#features hr {
    margin: 20px 0;
}
