@font-face {
  font-family: "ligature";
  src: url("../fonts/ligature.eot");
  src: url("../fonts/ligature.eot?#iefix") format("embedded-opentype"), url("../fonts/ligature.woff") format("woff"), url("../fonts/ligature.ttf") format("truetype"), url("../fonts/ligature.svg#LigatureSymbols") format("svg");
  src: url("../fonts/ligature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tellural";
  src: url("../fonts/tellural.eot");
  src: url("../fonts/tellural.eot?#iefix") format("embedded-opentype"), url("../fonts/tellural.woff") format("woff"), url("../fonts/tellural.ttf") format("truetype"), url("../fonts/tellural.svg#telluralregular") format("svg");
  src: url("../fonts/tellural.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

i.symbol {
  font-family: "ligature";
  font-size: 1.2em;
  font-style: normal;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  -o-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
