<div class="row">
    <div class="span3">
        <h4>Web administration</h4>
        <p>@image</p>
        <p>
            Create and manage repositories with a web interface.
        </p>
        <p>
            Repositories are only accessible with user's SSH keys.
        </p>
    </div>
    <div class="span3">
        <h4>Private repositories</h4>
        <p>@image</p>
        <p>
            By default, projects are not visible to users.
            Use web-administration to specify who can access what, and how.
        </p>
    </div>
    <div class="span3">
        <h4>Role-based permissions</h4>
        <p>@image</p>
        <p>
            Specify different roles (developer, lead developer, visitor).
            For each of those roles, you can specify accesses on a project.
        </p>
        <p>
            Finally, attribute a role to the user for a given project.
        </p>
    </div>
    <div class="span3">
        <h4>Manage git accesses</h4>
        <p>@image</p>
        <p>
            With Gitonomy, you can configure accesses to branches, allowing to write or administrate (force&delete) it.
        </p>
    </div>
</div>
<div class="row">
    <div class="span3">
        <h4>Browse repository</h4>
        <p>@image</p>
        <p>Browse sourcecode and view modifications for each file/folder.</p>
    </div>
    <div class="span3">
        <h4>Browse history</h4>
        <p>@image</p>
        <p>
            A nice tree to view instantly how the commits are organized.
        </p>
    </div>
    <div class="span3">
        <h4>Security</h4>
        <p>@image</p>
        <p>
            Create new roles, new users and new projects.
        </p>
        <p>
            If you don't want anyone to register on the application, you can disable registration.
        </p>
    </div>
    <div class="span3">
        <h4>User account</h4>
        <p>@image</p>
        <p>You can change your username, your password.</p>
        <p>You can also manage e-mails and SSH keys.</p>
</div>
