<ul class="thumbnails">
    <li class="span3">
        <img src="/images/features/project-admin.png" class="img-polaroid" />
        <h4>Web administration</h4>
        <p>
            Create and manage repositories with a web interface.
        </p>
        <p>
            Repositories are only accessible with user's SSH keys.
        </p>
    </li>
    <li class="span3">
        <img src="/images/features/private-repository.png" class="img-polaroid" />
        <h4>Private repositories</h4>
        <p>
            By default, projects are not visible to users.
            Use web-administration to specify who can access what, and how.
        </p>
    </li>
    <li class="span3">
        <img src="/images/features/user-roles.png" class="img-polaroid" />
        <h4>Role-based permissions</h4>
        <p>
            Specify different roles (developer, lead developer, visitor).
            For each of those roles, you can specify accesses on a project.
        </p>
        <p>
            Finally, attribute a role to the user for a given project.
        </p>
    </li>
    <li class="span3">
        <img src="/images/features/git-access.png" class="img-polaroid" />
        <h4>Manage git accesses</h4>
        <p>
            With Gitonomy, you can configure accesses to branches, allowing to write or administrate (force&amp;delete) it.
        </p>
    </li>
</ul>
<ul class="thumbnails">
    <li class="span3">
        <img src="/images/features/commit-diff.png" class="img-polaroid" />
        <h4>Browse repository</h4>
        <p>Browse sourcecode and view modifications for each file/folder.</p>
    </li>
    <li class="span3">
        <img src="/images/features/history.png" class="img-polaroid" />
        <h4>Browse history</h4>
        <p>
            A nice tree to view instantly how the commits are organized.
        </p>
    </li>
    <li class="span3">
        <img src="/images/features/administration.png" class="img-polaroid" />
        <h4>Security</h4>
        <p>
            Create new roles, new users and new projects.
        </p>
        <p>
            If you don't want anyone to register on the application, you can disable registration.
        </p>
    </li>
    <li class="span3">
        <img src="/images/features/user-account.png" class="img-polaroid" />
        <h4>User account</h4>
        <p>You can change your username, your password.</p>
        <p>You can also manage e-mails and SSH keys.</p>
    </li>
</ul>
