<div id="features">
    <div class="item">{# View history #}
        <div class="row">
            <div class="span6">
                <img src="/images/features/feature-project-centered.png">
            </div>
            <div class="span6 center">
                <h2>See what's happening</h2>
                <p>
                    Gitonomy has some <strong>fresh features</strong> allowing you to<br />
                    view and understand your repositories.
                </p>
                <p>
                    See exactly what's happening over time using<br />
                    Gitonomy <strong>browsing tools</strong>.
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">{# newsfeed #}
                <p>See <strong>last events</strong> on your projects: push, branch creation/deletion, tags and so on.</p>
                <p>Every activity on your repositories will be reported to the projects' newsfeeds.</p>
            </div>
            <div class="span3">{# history #}
                <p></p>
            </div>
            <div class="span3">{# branches #}
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">{# users #}
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
    <hr />
    <div class="item">{# See the code #}
        <div class="row">
            <div class="span6">
                <img src="http://static.mailchimp.com/www/images/features/send_1.1.png">
            </div>
            <div class="span6 center">
                <h2>See the code</h2>
                <p>Manage your projects as real as git is.<br />
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.<br />
                We'll see that all are made giving you a project based navigation.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span4">{# source #}
                Manage your projects as real as git is.
            </div>
            <div class="span4">{# diff #}
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
            </div>
            <div class="span4">{# compare #}
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
    <hr />
    <div class="item">{# management #}
        <div class="row">
            <div class="span6 center">
                <h2>FH Jjvbncd vhsdegf</h2>
                <p>Manage your projects as real as git is.<br />
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.<br />
                We'll see that all are made giving you a project based navigation.</p>
            </div>
            <div class="span6">
                <img class="pull-right" src="http://static.mailchimp.com/www/images/features/create_1.1.png">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">{# admin (projects) #}
                Manage your projects as real as git is.
            </div>
            <div class="span3">{# ssh keys #}
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
            </div>
            <div class="span3">{# roles #}
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">{# profile #}
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
</div>
