<div id="features">
    <div class="item">
        <div class="row">
            <div class="span6 center">
                <h2>Project centered navigation</h2>
                <p>Manage your projects as real as git is.<br />
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.<br />
                We'll see that all are made giving you a project based navigation.</p>
            </div>
            <div class="span6">
                <img class="pull-right" src="/images/features/project-newsfeed.jpg" width="400">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">
                Gitonomy follow the git logic. You manage project, users, roles and permissions.
            </div>
            <div class="span3">
                Gitonomy follow the git logic. You manage project, users, roles and permissions.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
    <hr />
    <div class="item">
        <div class="row">
            <div class="span6">
                <img src="http://static.mailchimp.com/www/images/features/send_1.1.png">
            </div>
            <div class="span6 center">
                <h2>Branch activity newsfeed</h2>
                <p>Manage your projects as real as git is.<br />
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.<br />
                We'll see that all are made giving you a project based navigation.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">
                Manage your projects as real as git is.
            </div>
            <div class="span3">
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
    <hr />
    <div class="item">
        <div class="row">
            <div class="span6 center">
                <h2>Browse your history</h2>
                <p>Manage your projects as real as git is.<br />
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.<br />
                We'll see that all are made giving you a project based navigation.</p>
            </div>
            <div class="span6">
                <img class="pull-right" src="http://static.mailchimp.com/www/images/features/create_1.1.png">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">
                Manage your projects as real as git is.
            </div>
            <div class="span3">
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
    <hr />
    <div class="item">
        <div class="row">
            <div class="span6">
                <img src="http://static.mailchimp.com/www/images/features/send_1.1.png">
            </div>
            <div class="span6 center">
                <h2>Show your code</h2>
                <p>Manage your projects as real as git is.
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
                We'll see that all are made giving you a project based navigation.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">
                Manage your projects as real as git is.
            </div>
            <div class="span3">
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
    <hr />
    <div class="item">
        <div class="row">
            <div class="span6 center">
                <h2>See the difference</h2>
                <p>Manage your projects as real as git is.
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
                We'll see that all are made giving you a project based navigation.</p>
            </div>
            <div class="span6">
                <img class="pull-right" src="http://static.mailchimp.com/www/images/features/create_1.1.png">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">
                Manage your projects as real as git is.
            </div>
            <div class="span3">
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
    <hr />
    <div class="item">
        <div class="row">
            <div class="span6">
                <img src="http://static.mailchimp.com/www/images/features/send_1.1.png">
            </div>
            <div class="span6 center">
                <h2>User administration</h2>
                <p>Manage your projects as real as git is.
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
                We'll see that all are made giving you a project based navigation.</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span3">
                Manage your projects as real as git is.
            </div>
            <div class="span3">
                With Gitonomy, all your code and Gitonomy are hosted in your infrastructure.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
            <div class="span3">
                We'll see that all are made giving you a project based navigation.
            </div>
        </div>
    </div>
</div>
