<div id="carousel-sshot" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <img src="/images/features/login.jpg" alt="Login" />
            <div class="carousel-caption">
                <h4>Pure design</h4>
                <p>
                    Gitonomy is made for developers and today's use.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="/images/features/project-list.jpg" alt="Project list" />
            <div class="carousel-caption">
                <h4>Project based navigation</h4>
                <p>Gitonomy has choosed to manage projects, instead of users.</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/features/project-history.jpg" alt="Project history" />
            <div class="carousel-caption">
                <h4>Keep it simple stupid</h4>
                <p>View what you really want to view from your repository.</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/features/project-source.jpg" alt="Source browser" />
            <div class="carousel-caption">
                <h4>Browse source</h4>
                <p>View the project files without checking out the git repository.</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/features/project-permissions.jpg" alt="Project permissions" />
            <div class="carousel-caption">
                <h4>Manage permissions by projects</h4>
                <p>Users may not have access to sources, if it's your business model.</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/features/administration-user.jpg" alt="Global administration" />
            <div class="carousel-caption">
                <h4>Global administration</h4>
                <p>Manage your users and your roles.</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/features/profile-informations.jpg" alt="Profile informations" />
            <div class="carousel-caption">
                <h4>Profile configuration</h4>
                <p>You are free to update your world.</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/features/profile-sshkeys-fr.jpg" alt="Internationalization" />
            <div class="carousel-caption">
                <h4>Multicultural</h4>
                <p>Gitonomy is available in English and French.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#carousel-sshot" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel-sshot" data-slide="next">&rsaquo;</a>
</div>
