<div id="carousel-sshot" class="carousel slide">
    <div class="carousel-inner">
        <div class="active item">
            <img src="/images/sshot-history.png" alt="History viewer" />
            <div class="carousel-caption">
                <h4>History viewer</h4>
                <p>Commits on a tree, more friendly!</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/sshot-tree.png" alt="Tree viewer" />
            <div class="carousel-caption">
                <h4>Source viewer</h4>
                <p>Go to the code, view modifications per folder and file</p>
            </div>
        </div>
        <div class="item">
            <img src="/images/sshot-commits.png" alt="Commit viewer" />
            <div class="carousel-caption">
                <h4>Commit viewer</h4>
                <p>View last commits for a given revision</p>
            </div>
        </div>
    </div>
    <a class="carousel-control left" href="#carousel-sshot" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel-sshot" data-slide="next">&rsaquo;</a>
</div>
