<div class="row">
    <div class="span4">
        <h3>Who is behind?</h3>
        <p>
            <strong>Gitonomy</strong> is a project created by
            <a href="http://alexandre-salome.fr">Alexandre Salomé</a>
            and
            <a href="http://jdidier.net">Julien DIDIER</a>.
            <strong>Gitonomy</strong> is released under the MIT licence.
        </p>
        <p>
            The project is open-source, feel free to contribute!
        </p>
    </div>
    <div class="span4">
        <h3>Limitation</h3>
        <p>
            <strong>Gitonomy</strong> is still in early stage, and we can't
            guarantee security of the project.
        </p>
        <p>
            Do not use for production, unless you know what you are doing.
        </p>
    </div>
    <div class="span4">
        <h3>Informations</h3>
        <p>
            <strong>Current version:</strong> 0.1
        </p>
        <p>No documentation is available yet, you will have to put your hands in the mud!</p>
    </div>
</div>
