{% extends "layout.html.twig" %}
{% set active = "demo" %}

{% block title "Gitonomy - Demo" %}

{% block content %}
    <div class="row">
        <div class="span3">
            <h2>Server</h2>
            <p><a class="btn btn-success" href="http://vert.gitonomy.com"><i class="icon-globe icon-white"></i> stable</a></p>
            <p><a class="btn btn-danger" href="http://rouge.gitonomy.com"><i class="icon-globe icon-white"></i> experimental</a></p>
        </div>
        <div class="span6">
            <h2>Accounts</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>admin</strong></td>
                        <td><strong>admin</strong></td>
                        <td><strong>administrator</strong></td>
                    </tr>
                    <tr>
                        <td><strong>user</strong></td>
                        <td><strong>user</strong></td>
                        <td><strong>regular user</strong></td>
                    </tr>
                    <tr>
                        <td>alice</td>
                        <td>alice</td>
                        <td>female test persona</td>
                    </tr>
                    <tr>
                        <td>bob</td>
                        <td>bob</td>
                        <td>male test persona</td>
                    </tr>
                    <tr>
                        <td>charlie</td>
                        <td>charlie</td>
                        <td>male test persona</td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}
