{% extends "layout.html.twig" %}
{% set active = "features" %}

{% block title "Gitonomy - Features" %}

{% block content %}
    <div id="features">
        <div class="center">
            <div>
                <h2>The good way to manage your repositories</h2>
                <p>
                    Managing your repositories inside your infrastructure is not easy.<br />
                    I can be a new experience for both you and all your team.
                </p>
                <p>Take a tour of our features, and see why you should love Gitonomy.</p>
            </div>
        </div>
        <div class="item">{# View history #}
            <div class="row">
                <div class="span6">
                    <img src="/images/features/block-history.png" class="pull-right" />
                </div>
                <div class="span6 center">
                    <h2>See what's happening</h2>
                    <p>
                        See exactly what's happening over time using<br />
                        Gitonomy <strong>browsing tools</strong>.
                    </p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="span3">{# newsfeed #}
                    <p>See <strong>last events</strong> on your projects: push, branch creation/deletion, tags and so on.</p>
                    <p>Every activity on your repositories will be reported to the projects' newsfeeds.</p>
                </div>
                <div class="span3">{# history #}
                    <p>Visualize branching with <strong>history</strong>, a graph visualization feature.</p>
                </div>
                <div class="span3">{# branches #}
                    <p>Get the list of your <strong>branches</strong> and see diff from main branch or any other.</p>
                </div>
                <div class="span3">{# users #}
                    <p>Get <strong>latest activity of a user</strong> using Gitonomy. You'll see last commits of user on repository.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="item">{# See the code #}
            <div class="row">
                <div class="span6 center">
                    <h2>See the code</h2>
                    <p>Get a clear view of what's in your repositories.</p>
                </div>
                <div class="span6">
                    <img src="/images/features/block-source.png" />
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="span4">{# source #}
                    <p>See your <strong>sourcecode</strong> with syntax highlighting, last modifications on directories and files.</p>
                </div>
                <div class="span4">{# diff #}
                    View <strong>commit diff</strong>, compare old and new versions.</p>
                </div>
                <div class="span4">{# compare #}
                    <p>You can also compare a <strong>range of commits</strong>, like the last push or a branch.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="item">{# management #}
            <div class="row">
                <div class="span6">
                    <img src="/images/features/block-management.png">
                </div>
                <div class="span6 center">
                    <h2>Manage your repositories</h2>
                    <p>With Gitonomy, you can manage your users and repositories via the web interface.</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="span3">{# admin (projects) #}
                    <p>Administrate projects</p>
                </div>
                <div class="span3">{# ssh keys #}
                    <p>Manage your <strong>SSH keys</strong> to access git repositories.</p>
                </div>
                <div class="span3">{# roles #}
                    <p>You can <strong>create new roles</strong> to grant given permissions to users.</p>
                </div>
                <div class="span3">{# profile #}
                    Manage your profile (culture, timezone and e-mails).
                </div>
            </div>
        </div>
    </div>
{% endblock %}
