{% extends "layout.html.twig" %}
{% set active = "home" %}

{% block title "Gitonomy - Git repositories inside your infrastructure" %}

{% block before_body_end %}
    <script type="text/javascript">
        $(document).ready(function (){
            $("body").keydown(function(e) {
                if(e.keyCode == 37) {
                    $("#carousel-sshot").carousel('prev');
                } else if(e.keyCode == 39) {
                    $("#carousel-sshot").carousel('next');
                }
            });

            $("#global-menu > li > a").click(function(event) {
                event.preventDefault();

                $("#carousel-sshot").slideUp(function() {
                    window.location = $(event.target).attr('href');
                });
            });
        });
    </script>
{% endblock %}

{% block before_menu %}
    <div id="carousel-sshot" class="carousel slide">
        <div class="carousel-inner">
            <div class="item">
                <img src="/images/homepage_carousel/login.jpg" alt="Login" />
                <div class="carousel-caption"><h4>Login</h4></div>
            </div>
            <div class="active item">
                <img src="/images/homepage_carousel/project-history.jpg" alt="Project history" />
                <div class="carousel-caption"><h4>History</h4></div>
            </div>
            <div class="item">
                <img src="/images/homepage_carousel/project-source.jpg" alt="Project history" />
                <div class="carousel-caption"><h4>View source</h4></div>
            </div>
            <div class="item">
                <img src="/images/homepage_carousel/profile-informations.jpg" alt="Edit your profile" />
                <div class="carousel-caption"><h4>Edit your profile</h4></div>
            </div>
            <div class="item">
                <img src="/images/homepage_carousel/project-list.jpg" alt="Project list" />
                <div class="carousel-caption"><h4>Your projects</h4></div>
            </div>
            <div class="item">
                <img src="/images/homepage_carousel/administration-user.jpg" alt="Administration - Users" />
                <div class="carousel-caption"><h4>Interface to create, edit and delete users</h4></div>
            </div>
            <div class="item">
                <img src="/images/homepage_carousel/profile-sshkeys-fr.jpg" alt="Disponible en français" />
                <div class="carousel-caption"><h4>Disponible en français</h4></div>
            </div>
        </div>
        <a class="carousel-control left" href="#carousel-sshot" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel-sshot" data-slide="next">&rsaquo;</a>
    </div>
{% endblock %}
